// Are you even compiling this? Get Koala.

//COLORS
//	Google Design Colors: 
//		http://zavoloklom.github.io/material-design-color-palette/colors.html
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

@mixin transition($trans) {
  -webkit-transition: $trans;
     -moz-transition: $trans;
      -ms-transition: $trans;
          transition: $trans;
}

@mixin effect($effect) {
  -webkit-transition: $effect;
  animation-name: $effect;
}

// Phones
@media screen and (min-width: 320px) {
  .responsive-margins {
    margin: 0 2em 2em;
  } 
}

// Tablets
@media screen and (min-width: 768px) {
  .responsive-margins {
    margin: 0 5em 5em;
  } 
}

// Desktop screens
@media screen and (min-width: 1224px) {
  .responsive-margins {
    margin: 0 10em 10em;
  }
}

// True HD+
@media screen and (min-width: 1824px) {
  .responsive-margins {
    margin: 0 20em 20em;
  }
}

// QHD+
@media screen and (min-width: 2000px) {
  .responsive-margins {
    margin: 0 25em 25em;
  }
}

body {
  //overflow: hidden;
}

p {
  color: #e0e0e0;
}

a {
  color: #fff !important;
}

// nav.html
.navbar {

  // Helps the .fill-rest-of-page class
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  //margin-left: 7em;
  //margin-right: 0em;
  padding-bottom: 15px;
  padding-top: 15px;
  
  .signature{
    color: dimgray;
    opacity: 0.2;
    font-size: .65em;
    vertical-align:text-bottom;
  }
  
  .nav-link {
    color: #fff; // white
    //font-family: 'Poiret One', cursive;
    cursor: pointer;
    //font-size: 200%;
  }

  .nav-link:hover {
    color: #fff;
    font-weight: bold;
  }

  .nav-active {
    font-weight: bold;
  }

  img {
    border-radius: 3px;
  }

  .ui.inverted.basic.button.right.floated {
    margin-top: 0%;
  }
}

.background-black {
    background-color: #000;
  }

// index.html
.background-image {
  background: url('../assets/home/_MG_9227_HOME.jpg') no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// home.html
.home {

  .home-events {
    color: #fff;
    margin-left: 5em;
    margin-top: 10em;
    position: fixed;
  

    h1 {
      font-family: 'Poiret One', cursive; 
    }

    .ui.list > .item {
      cursor: pointer;
    }
  }
}

// catalogue.html
.catalogue {

  background: rgba(255, 255, 255, .5);
  padding: 1%;

  h1 {
    color: #fff;
    //font-family: 'Poiret One', cursive;
  }
  
  //individual products
  .ui.grid > .column.cat-product{
    padding:.5%;
    margin:0;
    border:0; 
  }  
  
  .hoverText{
    background-color: black;
    width:100%;
    opacity:.4;
    position:absolute;
    height:20em;
  }
}

.orderform {
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding-top: 0%;

  .ui.inverted.segment {
    background: rgba(0, 0, 0, .5) !important;
  }
}

// contact.html
.contact {
  background: rgba(0, 0, 0, .6);
  padding-top: 0%;

  .ui.inverted.segment {
    background: rgba(0, 0, 0, .5) !important;
  }
}

// about.html
.about {
  background: rgba(0, 0, 0, .6);
  padding-top: 0%;

  .description {
    color: #fff;
  }
}

// events.html
.events {
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 0% 5% 0% 5%;
  
  .hvr-back-pulse:hover{
     //background-color:black;
  }
  
  h2{
    width:100%; 
  }
  
  #past img {
    width: 80%;
  }
  
  #future img{
    width: 100%;
  }
  
  .column{
    -webkit-transition: width 0.8s ease, margin 0.8s ease;
    -moz-transition: width 0.8s ease, margin 0.8s ease;
    -o-transition: width 0.8s ease, margin 0.8s ease;
    transition: width 0.8s ease, margin 0.8s ease;
  }
  
}

// event.html
.event {
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding-top: 0%;
  
  iframe {
    display:block;
    width:100%;
  }
}

// product.html
.product {
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding-top: 0%;

  .ui.inverted.segment {
    background: rgba(0, 0, 0, .5) !important;
  }
}

// admin.html
.admin {
  background: rgba(0, 0, 0, .6);
  padding-top: 0%;

  .ui.inverted.segment {
    background: rgba(0, 0, 0, .5) !important;
  }

  .ui.top.attached.tabular.menu {
    background: rgba(255, 255, 255, .5) !important;
  }

  .image-upload-button {
    height: 0px;
    overflow: hidden;
  }

  .drop-box {
    border: 3px dashed #fff;
    height: 4em;
    text-align: center;
  }

  .dragover {
    border: 3px dashed #3B83C0;
  }

  color: #fff;
}

.word {
  color: #fff;
}

// Utility Classes

.fill-rest-of-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.below-navbar {
  position: absolute;
  margin-top: 100px;
}

// Use this to disable text/div selection/highlighting
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-i-bar {
  cursor: default;
}

.inline {

  display: inline !important;
}

.fill-div {

  height: 100%;
  width: 100%;
}

.show-on-hover {
  opacity: 0;
}

.show-on-hover:hover {
  opacity: .5;
}

.nav-button {
  width: 50px;
  height: 50px;
}

// Animations
/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.noflicker {
  -webkit-transform:translate3d(0,0,0);
}

.well[ui-view]{
 height: 100px; 
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

/*
[ui-view].ng-enter {
  -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

[ui-view].ng-enter-active {
  position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

[ui-view].ng-leave {
  position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

[ui-view].ng-leave-active {
  -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
*/

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}
