// Are you even compiling this? Get Koala.

//COLORS
//	Google Design Colors: 
//		http://zavoloklom.github.io/material-design-color-palette/colors.html
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

p {
  color: #e0e0e0;
}


// nav.html
.navbar {

  // Helps the .fill-rest-of-page class
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 15px;
  padding-top: 15px;

  a {
    color: #fff; // white
    font-family: 'Poiret One', cursive;
    font-size: 200%;
  }

  a:hover {
    color: #fff;
    font-weight: bold;
  }

  img {
    border-radius: 3px;
  }

  .ui.inverted.basic.button.right.floated {
    margin-top: 0%;
  }
}

.background-black {
    background-color: #000;
  }

// index.html
.background-image {
  background: url('../assets/home/_MG_9227_HOME.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// catalogue.html
.catalogue {

  color: #fff;
}

// contact.html
.contact {

}

// about.html
.about {

}

.fill-rest-of-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 100px;
}

// Use this to disable text/div selection/highlighting
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inline {

  display: inline !important;
}

.fill-div {

  height: 100%;
  width: 100%;
}

.show-on-hover {
  opacity: 0;
}

.show-on-hover:hover {
  opacity: 0.5;
}

.nav-button {
  width: 50px;
  height: 50px;
}