@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@media screen and (min-width: 320px) {
  .responsive-margins {
    margin: 0 2em 2em; } }
@media screen and (min-width: 768px) {
  .responsive-margins {
    margin: 0 5em 5em; } }
@media screen and (min-width: 1224px) {
  .responsive-margins {
    margin: 0 10em 10em; } }
@media screen and (min-width: 1824px) {
  .responsive-margins {
    margin: 0 20em 20em; } }
@media screen and (min-width: 2000px) {
  .responsive-margins {
    margin: 0 25em 25em; } }
p {
  color: #e0e0e0; }

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-bottom: 15px;
  padding-top: 15px; }
  .navbar .nav-link {
    color: #fff;
    font-family: 'Poiret One', cursive;
    cursor: pointer; }
  .navbar .nav-link:hover {
    color: #fff;
    font-weight: bold; }
  .navbar .nav-active {
    font-weight: bold; }
  .navbar img {
    border-radius: 3px; }
  .navbar .ui.inverted.basic.button.right.floated {
    margin-top: 0%; }

.background-black {
  background-color: #000; }

.background-image {
  background: url("../assets/home/_MG_9227_HOME.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.home .home-events {
  color: #fff;
  margin-left: 5em;
  margin-top: 10em;
  position: fixed; }
  .home .home-events h1 {
    font-family: 'Poiret One', cursive; }
  .home .home-events .ui.list > .item {
    cursor: pointer; }

.catalogue {
  background: rgba(255, 255, 255, 0.5);
  padding-top: 0%; }
  .catalogue h1 {
    color: #fff;
    font-family: 'Poiret One', cursive; }

.orderform {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding-top: 0%; }

.contact {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 0%; }
  .contact .ui.inverted.segment {
    background: rgba(0, 0, 0, 0.5) !important; }

.about {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 0%; }
  .about .description {
    color: #fff; }

.events {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0% 5% 0% 5%; }
  .events h2 {
    width: 100%; }
  .events #past img {
    width: 80%; }
  .events #future img {
    width: 100%; }
  .events .column {
    -webkit-transition: width 0.8s ease, margin 0.8s ease;
    -moz-transition: width 0.8s ease, margin 0.8s ease;
    -o-transition: width 0.8s ease, margin 0.8s ease;
    transition: width 0.8s ease, margin 0.8s ease; }

.event {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding-top: 0%; }

.product {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding-top: 0%; }
  .product .ui.inverted.segment {
    background: rgba(0, 0, 0, 0.5) !important; }

.admin {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 0%;
  color: #fff; }
  .admin .ui.inverted.segment {
    background: rgba(0, 0, 0, 0.5) !important; }
  .admin .ui.top.attached.tabular.menu {
    background: rgba(255, 255, 255, 0.5) !important; }
  .admin .image-upload-button {
    height: 0px;
    overflow: hidden; }
  .admin .drop-box {
    border: 3px dashed #fff;
    height: 4em;
    text-align: center; }
  .admin .dragover {
    border: 3px dashed #3B83C0; }

.word {
  color: #fff; }

.fill-rest-of-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.below-navbar {
  position: absolute;
  margin-top: 100px; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.no-i-bar {
  cursor: default; }

.inline {
  display: inline !important; }

.fill-div {
  height: 100%;
  width: 100%; }

.show-on-hover {
  opacity: 0; }

.show-on-hover:hover {
  opacity: .5; }

.nav-button {
  width: 50px;
  height: 50px; }

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.noflicker {
  -webkit-transform: translate3d(0, 0, 0); }

.well[ui-view] {
  height: 100px; }

.ui-view-container {
  position: relative; }

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

/*
[ui-view].ng-enter {
  -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

[ui-view].ng-enter-active {
  position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

[ui-view].ng-leave {
  position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

[ui-view].ng-leave-active {
  -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
*/
[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5); }

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0); }

/*# sourceMappingURL=styles.css.map */
