<div class="about below-navbar noflicker noselect no-i-bar">
	<div class="ui two column padded grid">
    <div class="column">
      <img src="assets/img/xman.jpg" alt="about" class="ui fluid image">
    </div> 
    <div class="column description">
      Oseas Villatoro is a woman’s & men’s ready to wear designer. He combines different fabrics with unique patterns and draping techniques to create young, chic, & edgy designs. Inspired by his artful interpretation of emotional and melodic music, he integrates different styles of music into his designs. <br>
      <br>Born in Los Angeles, with his background coming from his El Salvador and Guatemala roots, Villatoro pulls from his background in his designs. Besides being a full time designer, Villatoro is a full time dad, husband, and alumni of Fashion Careers College. He constantly envisions people everywhere expressing their feelings through their fashion choices. That is what he wants to provide expression to his clients through his designs.<br><br> “Fashion will remain the most astonishing activity of mankind. Born to struggle between wisdom and madness between dream and reality in our edgy mind”. <br><br>We look forward to Villatoro’s S/S 2016 line, after he launched his S/S 2015 line last year at FWSD.

      <br><br><br>
      
      <div align="center">
        <div class="ui inverted button" ui-sref="contact">Contact</div>
        <div class="ui inverted button" >Runway Shows</div>
      </div>

    </div> 
  </div>
</div>
