<div class="about below-navbar noflicker">
	<div class="ui two column padded page grid">
    <div class="column">
      <img src="http://lorempixel.com/g/480/800/fashion/1" alt="" class="ui fluid image">
    </div> 
    <div class="column description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus provident praesentium reiciendis incidunt cumque, magnam quibusdam tenetur doloribus minima voluptatum possimus illo natus iste quia maiores dignissimos cum nobis, laudantium?
    </div> 
  </div>
</div>
