<div class="admin below-navbar noflicker fill-rest-of-page noselect no-i-bar responsive-margins">

  <!-- Section Login -->
  <form id="login-form" ng-submit="login(credentials)" class="ui fluid form inverted segment">
    
    <h3 class="ui inverted dividing header">Admin Login Credentials</h3>

    <div class="two fields">

      <div class="required field">
        <div class="ui icon input">
          <input type="text" ng-model="credentials.username" placeholder="Admin Username">
          <i class="user icon"></i>
        </div>
      </div>

      <div class="required field">
        <div class="ui icon input">
          <input type="password" ng-model="credentials.password" placeholder="Admin Password">
          <i class="lock icon"></i>
        </div>
      </div>

    </div>

    <button class="fluid ui animated inverted right floated green button">
      <div class="visible content">Login</div>
      <div class="hidden content">
        <i class="sign in icon"></i>
      </div>
    </button>

    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <h2 class="ui inverted icon green header">
            <i class="check icon"></i>
            Logged in.
          </h2>
        </div>
      </div>
    </div>

  </form>

  <div class="ui basic modal" id="login-unsuccessful-modal">
    <i class="close icon"></i>
    <div class="header">
      Login Unsuccessful
    </div>
    <div class="content">
      <div class="image">
        <i class="warning sign icon"></i>
      </div>
      <div class="description">
        <p>This page is for administrators only. If you are an Oseas administrator, please contact the creators of this website if you cannot access your admin account.</p>
      </div>
    </div>
    <div class="actions">
      <div class="fluid ui inverted buttons">
        <div class="ui green basic inverted button">
          OK
        </div>
      </div>
    </div>
  </div>
  <!-- END Section Login -->

  <!-- Section Admin Console -->
  <div ng-show="loggedIn">
    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="catalogue"><i class="shop icon"></i> Catalogue</a>
      <a class="item" data-tab="events"><i class="calendar icon"></i> Events</a>
      <a class="right floated item" ng-click="logout()"><i class="sign out icon"></i> Logout</a>
    </div>

    <!-- TAB Catalogue -->
    <div class="ui bottom attached active tab" data-tab="catalogue">
      <div class="ui fluid form inverted segment">
        <h3 class="ui dividing inverted header">
          Add a Product to the Catalogue
        </h3>
        <form class="ui form" id="catalogue-form" name="catalogueForm" ng-submit="publishCatalogue(product)">

          <div class="two fields">
            <div class="required field">
              <label>Product Name (alphanumeric only)</label>  
              <input type="text" placeholder="Only use alphanumeric. No symbols allowed; issues will occur." name="productName" ng-model="product.name" required>
            </div>
            <div class="field">
              <div class="two fields">
                <div class="required field">
                  <label>Category</label>
                  <div class="ui selection dropdown">
                    <input type="hidden" name="productCategory">
                    <div class="default text">Dress? Top? Bottom?</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item" ng-click="setProductCategory('dress')">Dress</div>
                      <div class="item" ng-click="setProductCategory('top')">Top</div>
                      <div class="item" ng-click="setProductCategory('bottom')">Bottom</div>
                    </div>
                  </div>

                </div>
                <div class="field">
                  <label>Price</label>
                  <input type="text" placeholder="200.00" ng-model="product.price" required>
                </div>
              </div>
            </div>
          </div>

          <div class="required field">
            <label>Description</label>
            <textarea name="productDescription" ng-model="product.description"></textarea>
          </div>

          <div class="two fields">
            <div class="required field">
              <label>Composition</label>
              <input type="text" placeholder="Silk 90%, Cotton 5%, Other material 5%" ng-model="product.composition" name="productComposition" required>
            </div>
            <div class="required field">
              <label>Care</label>
              <input type="text" placeholder="Dry clean only, Other directions." ng-model="product.care" name="productCare" required>
            </div>
          </div>

          <div class="three fields">
            <div class="field">
              <label>Model Height</label>
              <input type="text" placeholder="170cm" ng-model="product.model.height" required>
            </div>
            <div class="field">
              <label>Model Size</label>
              <div class="ui selection dropdown">
                <input type="hidden" name="productModelSize">
                <div class="default text">What size is your model wearing?</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" ng-click="setProductModelSize('Small')">Small</div>
                  <div class="item" ng-click="setProductModelSize('Medium')">Medium</div>
                  <div class="item" ng-click="setProductModelSize('Large')">Large</div>
                </div>
              </div>
            </div>
            <div class="field">
              <label>Sizes Available</label>
              <div class="three fields">
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="sizeAvailableSmall" ng-model="sizes.small" ng-click="toggleProductSizeAvailable(sizes.small)">
                    <label>Small</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox" ng-click="toggleProductSizeAvailable('medium')">
                    <input type="checkbox" name="sizeAvailableMedium" ng-model="sizes.medium">
                    <label>Medium</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="sizeAvailableLarge" ng-model="sizes.large" ng-click="toggleProductSizeAvailable(sizes.large)">
                    <label>Large</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui grid">
            <div class="row">
              <div class="five wide column">
                <div ng-file-drop ng-model="mainProductFile" class="drop-box"
                    drag-over-class="dragover" ng-multiple="true" allow-dir="true"
                    accept=".jpg,.png">
                  Drop <b>one main</b> .png or .jpg image here.
                </div>
              </div>
              <div class="eight wide column">
                <div ng-file-drop ng-model="secondaryProductFiles" class="drop-box"
                    drag-over-class="dragover" ng-multiple="true" allow-dir="true"
                    accept=".jpg,.png">
                  Drop <b>multiple secondary</b> .png or .jpg images here.
                </div>
              </div>
              <div class="three wide column">
                <button class="fluid ui inverted yellow button" type="submit">Publish</button> 
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <!-- END TAB Catalogue -->

    <!-- TAB Events -->
    <div class="ui bottom attached tab" data-tab="events">
      <div class="ui fluid form inverted segment">
        <h3 class="ui dividing inverted header">
          Add an Event
        </h3>

        <form class="ui form" id="event-form" name="eventForm" ng-submit="publishEvent(event)">
          <div class="two fields">
            <div class="required field">
              <label>Event Name</label>
              <input type="text" placeholder="Only use alphanumeric. No symbols allowed; issues will occur." ng-model="event.name" required>
            </div>
            <div class="required field">
              <label>Date</label>
              <input type="text" named="eventDate" placeholder="Jan 1, 2014" ng-model="event.date" required>
            </div>
          </div>

          <div class="required field">
            <label>Description</label>
            <textarea name="eventDescription" ng-model="event.description" required></textarea>
          </div>

          <div class="ui grid">
            <div class="row">
              <div class="five wide column">
                <div ng-file-drop ng-model="mainEventFile" class="drop-box"
                    drag-over-class="dragover" ng-multiple="true" allow-dir="true"
                    accept=".jpg,.png">
                  Drop <b>one main</b> .png or .jpg image here.
                </div>
              </div>
              <div class="eight wide column">
                <div ng-file-drop ng-model="secondaryEventFiles" class="drop-box"
                    drag-over-class="dragover" ng-multiple="true" allow-dir="true"
                    accept=".jpg,.png">
                  Drop <b>multiple secondary</b> .png or .jpg images here.
                </div>
              </div>
              <div class="three wide column">
                <button class="fluid ui inverted yellow button" type="submit">Publish</button> 
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <!-- END TAB Events -->

  </div>

  <div class="ui fluid form inverted segment" ng-show="uploadedSecondary.length || uploadedMain">

    <h5 class="ui dividing inverted header">
      Uploaded Main Image
    </h5>
    <div class="ui inverted list">
      <div class="item">
        <i class="right triangle icon"></i>
        <div class="content">
          <div class="header">{{ uploadedMain.url }}</div>
          <img class="ui medium bordered image" ng-src="{{ uploadedMain.url }}">
        </div>
      </div>
    </div>

    <h5 class="ui dividing inverted header">
      Uploaded Secondary Images
    </h5>
    <div class="ui inverted list">
      <div class="item" ng-repeat="file in uploadedSecondary">
        <i class="right triangle icon"></i>
        <div class="content">
          <div class="header">{{ file.url }}</div>
          <img class="ui medium bordered image" ng-src="{{ file.url }}">
        </div>
      </div>
    </div>
  </div>

  <div class="ui basic modal" id="publish-success-modal">
    <i class="close icon"></i>
    <div class="header">
      Publish Success
    </div>
    <div class="content">
      <div class="image">
        <i class="check icon"></i>
      </div>
      <div class="description">
        <p>Your content has been published successfully.</p>
      </div>
    </div>
    <div class="actions">
      <div class="fluid ui inverted buttons">
        <div class="ui green basic inverted button" ui-sref="admin" ui-sref-opts="{ reload:true }">
          OK
        </div>
      </div>
    </div>
  </div>

  <div class="ui basic modal" id="publish-fail-modal">
    <i class="close icon"></i>
    <div class="header">
      Publish Failed
    </div>
    <div class="content">
      <div class="image">
        <i class="frown icon"></i>
      </div>
      <div class="description">
        <p>Your content could not be published. Please try again later or contact the creators of the site.</p>
      </div>
    </div>
    <div class="actions">
      <div class="fluid ui inverted buttons">
        <div class="ui green basic inverted button">
          OK
        </div>
      </div>
    </div>
  </div>

  <!-- END Section Admin Console -->

</div>

