<div class="catalogue fill-rest-of-page">

  <div class="ui page grid">

    <div class="four wide column product">

      <div class="ui card">
        <div class="ui slide masked reveal image">
          <img src="../assets/product/2.jpg" height="900" width="900">
        </div>
        <div class="content">
          <a href="#" class="header">Dress</a>
          <div class="meta">Stylish and stuff</div>
        </div>
      </div>

    </div>

    <!-- Extras before Database -->
    <div class="four wide column product">

      <div class="ui card">
        <div class="ui slide masked reveal image">
          <img src="../assets/product/2.jpg" height="900" width="900">
        </div>
        <div class="content">
          <a href="#" class="header">Dress</a>
          <div class="meta">Stylish and stuff</div>
        </div>
      </div>
      
    </div>
    <div class="four wide column product">

      <div class="ui card">
        <div class="ui slide masked reveal image">
          <img src="../assets/product/2.jpg" height="900" width="900">
        </div>
        <div class="content">
          <a href="#" class="header">Dress</a>
          <div class="meta">Stylish and stuff</div>
        </div>
      </div>
      
    </div>
    <div class="four wide column product">

      <div class="ui card">
        <div class="ui slide masked reveal image">
          <img src="../assets/product/2.jpg" height="900" width="900">
        </div>
        <div class="content">
          <a href="#" class="header">Dress</a>
          <div class="meta">Stylish and stuff</div>
        </div>
      </div>
      
    </div>
    <div class="four wide column product">

      <div class="ui card">
        <div class="ui slide masked reveal image">
          <img src="../assets/product/2.jpg" height="900" width="900">
        </div>
        <div class="content">
          <a href="#" class="header">Dress</a>
          <div class="meta">Stylish and stuff</div>
        </div>
      </div>
      
    </div>
    <div class="four wide column product">

      <div class="ui card">
        <div class="ui slide masked reveal image">
          <img src="../assets/product/2.jpg" height="900" width="900">
        </div>
        <div class="content">
          <a href="#" class="header">Dress</a>
          <div class="meta">Stylish and stuff</div>
        </div>
      </div>
      
    </div>


  </div>
</div>

