<div class="catalogue below-navbar noflicker responsive-margins">

  <!-- Products -->
  <div class="ui four column padded doubling stackable grid">

    <div class="column cat-product hvr-fade">
      <a ui-sref="product">
        <img src="http://lorempixel.com/g/640/480/fashion/1" alt="" class="ui fluid image">
      </a>
    </div>
    <div class="column cat-product hvr-fade">
      <a ui-sref="product">
        <img src="http://lorempixel.com/g/640/480/fashion/2" alt="" class="ui fluid image">
      </a>
    </div>
    <div class="column cat-product hvr-fade">
      <a ui-sref="product">
        <img src="http://lorempixel.com/g/640/480/fashion/3" alt="" class="ui fluid image">
      </a>
    </div>
    <div class="column cat-product hvr-fade">
      <a ui-sref="product">
        <img src="http://lorempixel.com/g/640/480/fashion/4" alt="" class="ui fluid image">
      </a>
    </div>
    <div class="column cat-product hvr-fade">
      <a ui-sref="product">
        <img src="http://lorempixel.com/g/640/480/fashion/5" alt="" class="ui fluid image">
      </a>
    </div>
    <div class="column cat-product hvr-fade">
      <a ui-sref="product">
        <img src="http://lorempixel.com/g/640/480/fashion/6" alt="" class="ui fluid image">
      </a>
    </div>
    <div class="column cat-product hvr-fade">
      <a ui-sref="product">
        <img src="http://lorempixel.com/g/640/480/fashion/7" alt="" class="ui fluid image">

      </a>
    </div>
    <div class="column cat-product hvr-fade">
      <a ui-sref="product">
        <img src="http://lorempixel.com/g/640/480/fashion/8" alt="" class="ui fluid image">
      </a>
    </div>
    <div class="column cat-product hvr-fade">
      <a ui-sref="product">
        <img src="http://lorempixel.com/g/640/480/fashion/9" alt="" class="ui fluid image">
      </a>
    </div>
    <div class="column cat-product hvr-fade">
      <a ui-sref="product">
        <img src="http://lorempixel.com/g/640/480/fashion/10" alt="" class="ui fluid image">
      </a>
    </div>
    <div class="column cat-product hvr-fade">
      <a ui-sref="product">
        <img src="http://lorempixel.com/g/640/480/fashion/1" alt="" class="ui fluid image">
      </a>
    </div>
    <div class="column cat-product hvr-fade">
      <a ui-sref="product">
        <img src="http://lorempixel.com/g/640/480/fashion/2" alt="" class="ui fluid image">
      </a>
    </div>

  </div>
</div>

