<div class="catalogue below-navbar noflicker">

  <!-- Products -->
  <div class="ui four column padded doubling stackable grid">

    <div class="column product hvr-fade hvr-fade" ui-sref="productpage">
      <img src="http://lorempixel.com/g/640/480/fashion/1" alt="" class="ui fluid image" >
     </div>
     <div class="column product hvr-fade">
        <img src="http://lorempixel.com/g/640/480/fashion/2" alt="" class="ui fluid image">
     </div>
     <div class="column product hvr-fade">
        <img src="http://lorempixel.com/g/640/480/fashion/3" alt="" class="ui fluid image">
     </div>
     <div class="column product hvr-fade">
        <img src="http://lorempixel.com/g/640/480/fashion/4" alt="" class="ui fluid image">
     </div>
     <div class="column product hvr-fade">
        <img src="http://lorempixel.com/g/640/480/fashion/5" alt="" class="ui fluid image">
     </div>
     <div class="column product hvr-fade">
        <img src="http://lorempixel.com/g/640/480/fashion/6" alt="" class="ui fluid image">
     </div>
     <div class="column product hvr-fade">
        <img src="http://lorempixel.com/g/640/480/fashion/7" alt="" class="ui fluid image">
     </div>
     <div class="column product hvr-fade">
        <img src="http://lorempixel.com/g/640/480/fashion/8" alt="" class="ui fluid image">
     </div>
     <div class="column product hvr-fade">
        <img src="http://lorempixel.com/g/640/480/fashion/9" alt="" class="ui fluid image">
     </div>
     <div class="column product hvr-fade">
        <img src="http://lorempixel.com/g/640/480/fashion/10" alt="" class="ui fluid image">
     </div>
     <div class="column product hvr-fade">
        <img src="http://lorempixel.com/g/640/480/fashion/1" alt="" class="ui fluid image">
     </div>
     <div class="column product hvr-fade">
        <img src="http://lorempixel.com/g/640/480/fashion/2" alt="" class="ui fluid image">
     </div>



  </div>
</div>

