<div class="contact fill-rest-of-page below-navbar noflicker">
	<div class="ui fluid form inverted segment">
		<div class="field">
			<label>Email</label>
			<input placeholder="email@gmail.com" type="text">
		</div>
		<div class="field">
			<label>What do you need?</label>
			<textarea></textarea>
		</div>
		<div align="center">
			<label>Studio Location</label>
			<p>311 F st. Suite 104, Chula Vista CA 91910</p>

			<label>San Diego | Los Angeles | Tijuana</label>
			<p>Phone: 619.870.7055 </p>
		</div>
	</div>
</div>
