<div class="events below-navbar noflicker responsive-margins">
  <div class="ui centered grid">
    <div id="future" class="eight wide left floated center aligned column">
      
      <h1>Coming Events</h1>
      
      <h2>FWSD Spring Showcase</h2>
      <hr />
      <p>
        After its launch in 2014, the FWSD15 Spring Showcase is back and ready to impress! Get the inside scoop and see what Fashion Week San Diego is all about before these designers walk the runway in the Fall. The FWSD15 Spring Showcase takes place at the beautiful Harrah's Resort Southern California on Saturday March 14th.

        Come enjoy this exclusive sneak peak free of charge!
        Register on Eventbrite today to reserve your spot.

        Join Fashion Week San Diego for a night full of fashion, shopping, art, entertainment and much more-a night you won't forget!
        <br />
        <img src="assets/img/homepage1.jpg" />
        
      </p>
      
      <h2>FWSD 2015</h2>
      <hr />
      <p>
      Fashion Week San Diego takes an innovative and progressive approach to traditional fashion weeks by being open to the fashion industry and general public. This creates a fruitful environment for our emerging designers and can help create demand by the consumer. Oseas will be returning to FWSD for the second time!
      <br/>
      <img src="assets/img/homepage2.jpg" />
      </p>
    </div>
    
    <div id="past" class="six wide right floated center aligned column">
      <h1>Past Events</h1>
      
      <div class="pastEvent hvr-back-pulse">
        <h2>Experience Fashion Night</h2>
        <hr />
        <center>
          <img ui-sref="event" src="assets/img/calendar.jpg" />
        </center>
      </div>
      
      <div class="hvr-back-pulse pastEvent">
        <h2>Urban Art Showcase</h2>
        <hr />
        <center>
          <img ui-sref="event" src="assets/img/boss.jpg" />
        </center>
      </div>
      
      
      <div class="pastEvent hvr-back-pulse">
        <h2>FWSD14</h2>
        <hr />
        <center>
          <img ui-sref="event" src="assets/img/runway2.jpg" />
        </center>
      </div>
      
    </div>
    
    <script>
      $("#past").mouseenter(function(){
        $("#past").removeClass("six wide").addClass("ten wide");
        $("#future").removeClass("ten wide").addClass("six wide");

       });
      

      $("#future").mouseenter(function(){
        $("#future").removeClass("six wide").addClass("ten wide");
        $("#past").removeClass("ten wide").addClass("six wide");
      });
    </script>
    
    <div class="ten wide right justified center aligned column">
    
    </div>
  </div>
</div>
