<div class="events below-navbar noflicker">
  <div class="ui centered grid">
    <div id="future" class="eight wide left justified center aligned column">
      
      <h1>Coming Events</h1>
      
      <h2>Event 1</h2>
      <hr />
      <p>
        Ab noster ubi fugiat et varias instituendarum officia tamen senserit, mandaremus 
        eram veniam te nulla, multos expetendis in proident, sed an relinqueret, e 
        laborum tractavissent est sed offendit nam excepteur est malis possumus o 
        domesticarum. Aliqua te nam noster nostrud, in varias o nulla. Amet ea deserunt, 
        o eram arbitrantur, enim tempor distinguantur est e magna admodum, incurreret 
        esse expetendis, ut enim incididunt exquisitaque a enim tempor ad adipisicing, 
        enim nostrud litteris. Voluptate quae vidisse ut quae ab expetendis ut cillum 
        est in laboris sed litteris, admodum quem nisi quo ipsum. Do cillum probant 
        voluptate. Ut sint esse fugiat commodo, mandaremus duis legam doctrina illum, 
        ita dolore ipsum ne deserunt et mentitum exercitation eu appellat ea aute 
        iudicem et illustriora iis an esse arbitror senserit, legam vidisse iis fabulas 
        in iis laboris illustriora. Dolor excepteur se dolore amet hic nam multos 
        incididunt quo fore laboris est varias minim, offendit exquisitaque est 
        cupidatat.
        <br />
        <img src="http://lorempixel.com/900/300/fashion" />
        
      </p>
      
      <h2>Event 2</h2>
      <hr />
      <p>
        Ab noster ubi fugiat et varias instituendarum officia tamen senserit, mandaremus 
        eram veniam te nulla, multos expetendis in proident, sed an relinqueret, e 
        laborum tractavissent est sed offendit nam excepteur est malis possumus o 
        domesticarum. Aliqua te nam noster nostrud, in varias o nulla. Amet ea deserunt, 
        o eram arbitrantur, enim tempor distinguantur est e magna admodum, incurreret 
        esse expetendis, ut enim incididunt exquisitaque a enim tempor ad adipisicing, 
        enim nostrud litteris. Voluptate quae vidisse ut quae ab expetendis ut cillum 
        est in laboris sed litteris, admodum quem nisi quo ipsum. Do cillum probant 
        voluptate. Ut sint esse fugiat commodo, mandaremus duis legam doctrina illum, 
        ita dolore ipsum ne deserunt et mentitum exercitation eu appellat ea aute 
        iudicem et illustriora iis an esse arbitror senserit, legam vidisse iis fabulas 
        in iis laboris illustriora. Dolor excepteur se dolore amet hic nam multos 
        incididunt quo fore laboris est varias minim, offendit exquisitaque est 
        cupidatat.
        <br />
        <img src="http://lorempixel.com/900/300/fashion/9" />
      </p>
    </div>
    
    <div id="past" class="four wide right justified center aligned column">
      <h1>Past Events</h1>
      
      <div class="pastEvent">
        <h2>SD Fashion Show</h2>
        <hr />
        <img src="http://lorempixel.com/900/900/fashion/7" />
      </div>
      
      <div class="pastEvent">
        <h2>NY Fashion Show</h2>
        <hr />
        <img src="http://lorempixel.com/900/900/fashion/2" />
      </div>
      
      
      <div class="pastEvent">
        <h2>LV Fashion Show</h2>
        <hr />
        <img src="http://lorempixel.com/900/900/fashion/3" />
      </div>
      
    </div>
    
    <script>
      
      
      $("#past").mouseenter(function(){
        $("#past").removeClass("four wide").addClass("eight wide");
        $("#future").removeClass("eight wide").addClass("four wide");
        //$("#past").transition('fade left');

       });
      

      $("#future").mouseenter(function(){
        $("#future").removeClass("four wide").addClass("eight wide");
        $("#past").removeClass("eight wide").addClass("four wide");
      });
    </script>
    
    <div class="eight wide right justified center aligned column">
    
    </div>
  </div>
</div>
