<div class="home noflicker">
	<div class="home-events">
		<h1 class="noselect no-i-bar">EVENTS</h1>

		<div class="ui inverted list">

			<div class="item hvr-float" ng-click="eventRedirect()">
        <i class="right triangle icon"></i>
				<div class="content">
					<div class="header">FWSD 2014</div>
					<div class="description">Fashion Week San Diego</div>
				</div>
			</div>

      <div class="item hvr-float" ng-click="eventRedirect()">
        <i class="right triangle icon"></i>
        <div class="content">
          <div class="header">Urban Art </div>
          <div class="description">Industry Mixer & Artist Showcase</div>
        </div>
      </div>
      <div class="item hvr-float" ng-click="eventRedirect()">
        <i class="right triangle icon"></i>
        <div class="content">
          <div class="header">Experience Fashion Night</div>
          <div class="description">Oseas Villatoro and Wishnow</div>
        </div>
      </div>
      <div class="item hvr-float" ng-click="eventRedirect()">
        <i class="right triangle icon"></i>
        <div class="content">
          <div class="header">Spring Showcase</div>
          <div class="description">FWSD</div>
        </div>
      </div>
		</div>

<div>

  <!--videos to use

<iframe src="https://player.vimeo.com/video/121172823" width="500" height="213" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/121172823"></p>
</div>

<iframe src="https://player.vimeo.com/video/113640046" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/113640046"></p>
-->
	</div>
</div>