<div class="home noflicker">
	<div class="home-events">
		<h1 class="noselect no-i-bar">EVENTS</h1>

		<div class="ui inverted list">

			<div class="item hvr-float" ng-click="eventRedirect()">
        <i class="right triangle icon"></i>
				<div class="content">
					<div class="header">FWSD 2014</div>
					<div class="description">Fashion Week San Diego</div>
				</div>
			</div>

      <div class="item hvr-float" ng-click="eventRedirect()">
        <i class="right triangle icon"></i>
        <div class="content">
          <div class="header">Urban Art </div>
          <div class="description">Industry Mixer & Artist Showcase</div>
        </div>
      </div>
      <div class="item hvr-float" ng-click="eventRedirect()">
        <i class="right triangle icon"></i>
        <div class="content">
          <div class="header">Experience Fashion Night</div>
          <div class="description">Oseas Villatoro and Wishnow</div>
        </div>
      </div>
      <div class="item hvr-float" ng-click="eventRedirect()">
        <i class="right triangle icon"></i>
        <div class="content">
          <div class="header">Spring Showcase</div>
          <div class="description">FWSD</div>
        </div>
      </div>
		</div>

	</div>
</div>