<div class="home">
	<div class="events">
		<h1 class="noselect no-i-bar">EVENTS</h1>

		<div class="ui list">
			<div class="item">
        <i class="right triangle icon"></i>
				<div class="content">
					<a class="header">Event 1</a>
					<div class="description">This is the description of an event.</div>
				</div>
			</div>

      <div class="item">
        <i class="right triangle icon"></i>
        <div class="content">
          <a class="header">Event 1</a>
          <div class="description">This is the description of an event.</div>
        </div>
      </div>
      <div class="item">
        <i class="right triangle icon"></i>
        <div class="content">
          <a class="header">Event 1</a>
          <div class="description">This is the description of an event.</div>
        </div>
      </div>
      <div class="item">
        <i class="right triangle icon"></i>
        <div class="content">
          <a class="header">Event 1</a>
          <div class="description">This is the description of an event.</div>
        </div>
      </div>
		</div>

	</div>
</div>