<div class="navbar noselect responsive-margins">
  <div class="ui grid">
    <!--Persistent Nav-->
    <!--Code for social media by Jen [not used]

    <div align="center">
          <div class="circular ui icon button"> <a href="https://www.facebook.com/StudioByOseasVillatoro">
            <i class="facebook icon"></i></a>
          </div>

          <div class="circular ui icon button"><a href="https://instagram.com/designeroseasv">
            <i class="instagram icon"></i></a>
          </div>

          
        </div>

      -->
      
    <div class="row">
      <div class="two wide column">
        <a ui-sref="home">
          <img show-sidebar class="hvr-float nav-button" src="assets/img/logo_white_no_words.png" alt="">
        </a>
      </div>
      <div id="mainNavEntries" class="thirteen wide column ui grid">
        <div class="row">
          <div class="column left floated right aligned">
            <i id="ddChevron" class="big white chevron down icon"></i>
          </div>
        </div>
        
        <div class="row ui grid" id="expandedNav">
          <div class="four wide column">
            <!--First layer of stuff-->
            <div class="ui selection list">
              <div ui-sref="catalogue" id="nav-cat" class="item">
                <span class="nav-link">Catalogue</span>
              </div>
              <div ui-sref="about" id="nav-about" class="item">
                <span class="nav-link">About</span>
              </div>
              <div class="item" ui-sref="contact" id="nav-contact">
                <span class="nav-link">Contact</span>
              </div>
              
              <div class="item" ui-sref="events" id="nav-events">
                <span class="nav-link">Events</span>
              </div>
              
            </div>
          </div>
          
          <div class="four wide column level2 ">
            <!--Second layer of stuff-->
            <div class="ui selection list">
              <div class="item">
                <span class="nav-link level2 men">Men</span>
              </div>
              <div class="item">
                 <span class="nav-link level2 women">Women</span>
              </div>
            </div>
          </div>
          
          <div class="four wide column level3 women">
            <!--Third layer of stuff-->
            <div class="ui selection list">
              <div class="item">
                <span class="nav-link">Tops</span>
              </div>
              <div class="item">
                <span class="nav-link">Bottoms</span>
              </div>
              <div class="item">
                <span class="nav-link">Dresses</span>
              </div>
            </div>
          </div>
          
          <div class="four wide column level3 men">
            <!--Third layer of stuff-->
            <div class="ui selection list">
              <div class="item">
                <span class="nav-link tops">Tops</span>
              </div>
              <div class="item">
                <span class="nav-link bottoms">Bottoms</span>
              </div>
            </div>
          </div>
          <!--Unused
          <div class="four wide column level4">
            <div class="ui selection list">
              <div class="item">
                <span class="nav-link">Level4</span>
              </div>
              <div class="item">
                <span class="nav-link">Level4</span>
              </div>
              <div class="item">
                <span class="nav-link">Level4</span>
              </div>
              <div class="item">
                <span class="nav-link">Level4</span>
              </div>
            </div>
          </div>
          -->  
          <div class="row">
            <div class="eight wide column left aligned">
              <br />
              <span class="signature"><p>Site Designed and Implemented by
                <a href="davidcanas.com">David Canas</a>, 
                <a href="http://www.jenniferlynguyen.com/">Jennifer Nguyen</a>, 
                <a href="http://peyao.github.io/">Peter Yao</a>
                </p></span>
            </div>

            <div class="eight wide column right aligned">
              <a href="https://www.facebook.com/StudioByOseasVillatoro">
                <i class="white large facebook icon"></i>
              </a>
              <a href="https://instagram.com/designeroseasv">
                <i class="white large instagram icon"></i>
              </a>
            </div>   
            </div>
          </div>
      </div>
    </div>    
  </div>
</div>

<div ui-view class="well"></div>

<script>
  $("#expandedNav").hide();
  
  $(".level2").hide();
  $(".level3").hide();
  $(".level4").hide();
    //navLogo.src = '../assets/img/logo_words_invert';
    
  $("#ddChevron").mouseenter(function(){
    $("#expandedNav").slideDown();
    $("#expandedNav").css("background-color", "black");
    $("#mainNavEntries").css('position', 'absolute');
    $("#mainNavEntries").css('z-index', 9999); 
  });
  
  //Catalogue DD stuff
  $(".level3").mouseleave(function(){
      $(".level3").hide();
    });
  
  $("#nav-cat").mouseenter(function(){
    $(".level2").slideDown();
    //All Mens DD
    $(".level2 .men").mouseenter(function(){
      //Make sure both divs don't show at once
      $(".level3").hide();
      $(".men.level3").slideDown();
    });
    
    //All Womens DD
    $(".level2 .women").mouseenter(function(){
      //Make sure both divs don't show at once
      $(".level3").hide();
      $(".women.level3").slideDown();
    });
    
    //So Lower Levels don't show when selecting other stuff
    $("#nav-about , #contacts , #events").mouseenter(function(){
      $(".level2").hide();
      $(".level3").hide();
      $(".level4").hide();
    });
    
  });
  
  $(".navbar").mouseleave(function(){
    $("#mainNavEntries").css("background-color", "transparent");
    $("#expandedNav").hide();
    $(".level2").hide();
    $(".level3").hide();
    $(".level4").hide();
  });

  

</script>
