<div class="navbar noselect">
  <div class="ui grid">
    <!--Persistent Nav-->
    <!--Code for social media by Jen 

    <div align="center">
          <div class="circular ui icon button"> <a href="https://www.facebook.com/StudioByOseasVillatoro">
            <i class="facebook icon"></i></a>
          </div>

          <div class="circular ui icon button"><a href="https://instagram.com/designeroseasv">
            <i class="instagram icon"></i></a>
          </div>

          
        </div>

      -->
      
    <div class="row">
      <div class="two wide column">
        <a ui-sref="home">
          <img show-sidebar class="hvr-float nav-button" src="assets/img/logo_white_no_words.png" alt="">
        </a>
      </div>
      <div id="mainNavEntries" class="thirteen wide column ui grid">
        <div class="row">
          <div class="column left floated right aligned">
            <i id="ddChevron" class="big white chevron down icon"></i>
          </div>
        </div>
        
        <div class="row" id="expandedNav">
          <hr />
          <div class="four wide column">
            <!--First layer of stuff-->
            <div class="ui selection list">
              <div ui-sref="catalogue" id="nav-cat" class="item">
                <span class="nav-link">Catalogue</span>
              </div>
              <div ui-sref="about" id="nav-about" class="item">
                <span class="nav-link">About</span>
              </div>
              <div class="item" ui-sref="contact" id="nav-contact">
                <span class="nav-link">Contact</span>
              </div>
              
              <div class="item" ui-sref="events" id="nav-events">
                <span class="nav-link">Events</span>
              </div>
              
            </div>
          </div>
          
          <div class="four wide column level2">
            <!--Second layer of stuff-->
            <div class="ui selection list">
              <div class="item">
                <span class="nav-link">Lower 1</span>
              </div>
              <div class="item">
                <span class="nav-link">Lower 2</span>
              </div>
              <div class="item">
                <span class="nav-link">Lower 3</span>
              </div>
            </div>
          </div>
          
          <div class="four wide column level3">
            <!--Third layer of stuff-->
            <div class="ui selection list">
              <div class="item">
                Even Lower 1
              </div>
              <div class="item">
                Even Lower 2
              </div>
              <div class="item">
                Even Lower 3
              </div>
            </div>
          </div>
          
          <div class="four wide column level4">
            <!--Fourth layer of stuff-->
            <div class="ui selection list">
              <div class="item">
                Lowest 1
              </div>
              <div class="item">
                Lowest 2
              </div>
              <div class="item">
                Lowest 3
              </div>
            </div>
          </div>
          
            <div class="sixteen wide column right aligned">
              <a href="https://www.facebook.com/StudioByOseasVillatoro">
                <i class="white large facebook icon"></i>
              </a>
              <a href="https://instagram.com/designeroseasv">
                <i class="white large instagram icon"></i>
              </a>
            </div>          
        </div>
        
      </div>
    </div>    
  </div>
</div>

<div ui-view class="well"></div>

<script>
  $("#expandedNav").hide();
  
  $(".level2").hide();
  $(".level3").hide();
  $(".level4").hide();
    //navLogo.src = '../assets/img/logo_words_invert';
    
  $("#ddChevron").mouseenter(function(){
    $("#expandedNav").slideDown();
    $("#mainNavEntries").css("background-color", "black");
    $("#mainNavEntries").css('position', 'absolute');
    $("#mainNavEntries").css('z-index', 9999); 
  });
  
  $(".navbar").mouseleave(function(){
    $("#mainNavEntries").css("background-color", "transparent");
    $("#expandedNav").hide();
  });

  

</script>

<!-- SEMANTIC UI SIDEBAR
<div class="nav">
  <div class="ui inverted horizontal top sidebar menu">
    <div class="item">
      <div class="ui input"><input placeholder="Search..." type="text"></div>
    </div>
    <div class="item">
      <i class="home icon"></i> Home
      <div class="menu">
        <a class="active item">Search</a>
        <a class="item">Add</a>
        <a class="item">Remove</a>
      </div>
    </div>
    <a class="item">
      <i class="grid layout icon"></i> Browse
    </a>
    <a class="item">
      <i class="mail icon"></i> Messages
    </a>
    <div class="ui dropdown item">
      More <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> Edit Profile</a>
        <a class="item"><i class="globe icon"></i> Choose Language</a>
        <a class="item"><i class="settings icon"></i> Account Settings</a>
      </div>
    </div>
  </div>

  <div class="pusher mdc-bg-grey-800">
    <div class="navbar">
      <img show-sidebar class="hvr-grow nav-button" src="assets/img/logo_no_words.png" alt="">
    </div>
    <div ui-view></div>
  </div>
</div>
-->