<div class="orderform fill-rest-of-page below-navbar noflicker responsive-margins">
  <form class="ui small inverted form">
    <div class="ui breadcrumb">
            <i class="left white chevron icon divider"></i>
            <a class="section" ui-sref="product"> Back to Product</a>
    </div>  

        <div class="ui small error form segment">
          <div class="ui error message">
            <div class="header">Terms of Service</div>
            <ul class="list">
              <li>All sales are final</li>
              <li>No returns on final transactions</li>
              <li>Filling out this form will just be emailed to the designer</li>
              <li>You will receive a response no later than one week</li>
            </ul>
          </div>
        </div>

   <div class="two fields">
      <div class="required field">
        <label>Name</label>

          <div class="two fields">
            <div class="field">
              <input name="first-name" placeholder="First Name" type="text">
            </div>
            <div class="field">
              <input name="last-name" placeholder="Last Name" type="text">
            </div>
          </div>

      </div>
    </div>
 
      <div class="inline required fields">
        <div class="field">
          <label>Phone</label>
          <br>
          <input placeholder="(xxx)" type="text">
        </div>
        <div class=" field">
          <input placeholder="xxx" type="text">
        </div>
        <div class="field">
         <input placeholder="xxxx" type="text">
        </div>
      </div>
<br>
      <div class="required six wide field">
        <label>Email</label>
        <div class="ui icon input" >
          <input placeholder="Email" type="text">
          <i class="user icon"></i>
        </div>
      </div>
    


    <div class="six wide field">
      <label>Item of Purchase</label>
      <input placeholder="What are you ordering?" type="text">
    </div>

    

    <div class="field">
      <label>Special Requests</label>
      <textarea placeholder="Any special alterations?"></textarea>
    </div>

    


  

      
   

    

    <div class="ui hidden divider"></div>
    <div class="required field">
      <div class="ui checkbox">
        <input name="hot-deals" type="checkbox">
        <label>I agree to the Terms of Service</label>


      </div>
    </div>
   <div class="ui inverted button" >Submit</div>
  </form>

  <script>
  $('.ui.checkbox')
    .checkbox()
    ;
  </script>
    
</div>

