<div class="product below-navbar fill-rest-of-page noflicker noselect no-i-bar responsive-margins">

  <div class="ui fluid inverted segment">

    <div class="ui two column padded page doubling stackable grid" align="center">
      <!--Product Picture-->
      <div class="column" align="left">
        <div class="ui breadcrumb">
          <i class="left white chevron icon divider"></i>
          <a class="section" ui-sref="catalogue"> Back to Catalogue </a>
        </div>
        <br><br><br>

        <div align="center">
          <img class="ui fluid image main-image" ng-src="{{ product.mainImage }}" alt="about" class="ui medium image" ng-click="lightbox(product.mainImage)">
          <br><br>

          <div class="ui basic modal" id="main-modal">
            <img class="ui fluid image" ng-src="{{ product.mainImage }}">
          </div>

          <div class="ui three column grid">
            <img class="ui column image secondary-image" ng-src="{{ secondaryImage }}" ng-repeat="secondaryImage in product.secondaryImages" ng-click="lightbox(secondaryImage)">
          </div>

        </div>
    </div> 

    <!--Right Column-->
    <div class="column description">
      <div class="column">
        <div align="right">
          <div class="ui breadcrumb">
            <i class="left white chevron icon divider"></i>
            <a class="section"> Prev | </a>
            <a class="section">Next</a>
            <i class="right white chevron icon divider"></i>
          </div>  
        </div>   

      </div>
      <br><br>

      <font size="32">{{ product.name }}</font>
      <br>
      ${{product.price}}
      <div class="ui divider"></div>


      <div class="ui selection dropdown">
        <div class="text">Quantity</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" ng-click="setOrderQuantity(1)">1</div>
          <div class="item" ng-click="setOrderQuantity(2)">2</div>
          <div class="item" ng-click="setOrderQuantity(3)">3</div>          
        </div>
      </div>
      <br><br>
      <div class="ui selection dropdown">
        <div class="text">Size</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" ng-if="product.sizeSmall" ng-click="setOrderSize('Small')">Small</div>
          <div class="item" ng-if="product.sizeMedium" ng-click="setOrderSize('Medium')">Medium</div>
          <div class="item" ng-if="product.sizeLarge" ng-click="setOrderSize('Large')">Large</div>
        </div>
      </div>



      <br><br>

        <div class="ui inverted button" ui-sref="orderform({ 'productName': product.name, 'orderSize': orderSize, 'orderQuantity': orderQuantity })">Buy Now</div>

        <div class="ui horizontal divider">
          <p color="white">Info</p>
        </div>

        <p align="center">{{ product.description }}</p>

        <p align="center">{{product.composition}} | {{product.care}}</p>

        <div class="ui divider"></div>
        
        <p align="center">Model Height: {{product.modelHeight}} ; Size: {{product.modelSize}}</p>
        
        <div class="ui divider"></div>
        
        Other pieces of this look:

        <br>
        <br>

        <img class="ui top aligned tiny image" src="assets/img/steam.jpg">
        <img class="ui middle aligned tiny image" src="assets/img/banana.jpg">
        <img class="ui bottom aligned tiny image" src="assets/img/bloo.jpg">

      </div> 
    </div>
  </div>
</div>