<div class="about below-navbar noflicker noselect no-i-bar">
  <div class="ui two column padded grid" align="center">
    <!--Product Picture-->
    <div class="column" align="right">
      <div class="ui breadcrumb">
        <i class="left chevron icon divider"></i>
        <a class="section" ui-sref="catalogue"> Back to Catalogue</a>
      </div>
      <br><br>
      <img src="assets/img/xman.jpg" alt="about" class="ui medium image">
      <br>
      <img class="ui top aligned tiny image" src="assets/img/front.jpg">
      <img class="ui middle aligned tiny image" src="assets/img/back.jpg">
      <img class="ui bottom aligned tiny image" src="assets/img/oseas_profile.jpg">
    </div> 





    <!--Right Column-->
    <div class="column description">
      <div class="column">
        <div align="right">
          <div class="ui breadcrumb">
            <i class="left chevron icon divider"></i>
            <a class="section"> Prev | </a>
            <a class="section">Next</a>
            <i class="right chevron icon divider"></i>
          </div>  
        </div>   
        

            <div class="ui selection dropdown">
              <input name="color" type="hidden">
              <div class="default text">Color</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" data-value="1">Royal Blue</div>
                <div class="item" data-value="0">Prism White</div>
              </div>
            </div>

             
                <script>
                $('.ui.dropdown')
                  .dropdown()
                ;
                </script>
            

              <br><br>

          <div class="ui dropdown">
              <div class="text">Quantity</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                
              </div>
    

    </div>
      <br><br>


        <font size="32">Look #3</font>
        <div class="ui divider"></div>
        <div class="ui selection dropdown">
          <input name="color" type="hidden">
          <div class="default text">Color</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="1">Royal Blue</div>
            <div class="item" data-value="0">Prism White</div>
          </div>
        </div>

        <body>
          <script>
            $('.ui.dropdown')
            .dropdown()
            ;
          </script>
        </body>

        <br><br>

        <div class="ui dropdown">
          <div class="text">Quantity</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>          
          </div>
        </div>
        <br><br>

        <div class="ui vertical animated button">
          <div class="hidden content" ><a ui-sref="orderform">Buy</a></div>
          <div class="visible content" >
            <i class="shop icon"></i>
          </div>
        </div>

        <div class="ui horizontal divider">
          <p color="white">Info</p>
        </div>

        <p align="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

        <div class="ui divider"></div>

        <div align="center">
          <div class="circular ui icon button"> <a href="https://www.facebook.com/StudioByOseasVillatoro">
            <i class="facebook icon"></i></a>
          </div>

          <div class="circular ui icon button"><a href="https://instagram.com/designeroseasv">
            <i class="instagram icon"></i></a>
          </div>

          <div class="circular ui icon button">
            <i class="twitter icon"></i>
          </div>
        </div>

        <div class="ui divider"></div>
        Other pieces of this look:
        <br>

        <img class="ui top aligned tiny image" src="assets/img/steam.jpg">
        <img class="ui middle aligned tiny image" src="assets/img/banana.jpg">
        <img class="ui bottom aligned tiny image" src="assets/img/bloo.jpg">

      </div> 
    </div>
  </div>
